
body {
  padding-top: 40px;
  background-color: #fff0f6; 
  font-family: 'Quicksand', sans-serif;
  color: #c2185b; 
}

h1, p {
  text-align: center;
}

h1 {
  font-size: 72px;
  margin: 75px 0 40px;
  color: #ff69b4; 
}

p {
  font-size: 22px;
  margin: 15px 0;
  color: #ad1457; 
}

a {
  color: #ff85c1;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #ff4da6;
  text-decoration: underline;
}

img {
  display: block;
  margin: 20px auto;
}


.container {
  max-width: 960px;
  margin: 0 auto;
}
